body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(29, 31, 37);
    font-weight: bold;

}

.hero{
    height: 400px;
    padding: 60px 0;
    position: relative;
}

.hero .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index:0;
    opacity: 0.5;
}


.hero.z-1{
    z-index: 1;
}

.card img{
    object-fit: cover;
    height: 200px;
   
    

}

.testimonial-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(29, 31, 37);
}

.newsletter{
    background-color: rgb(29, 31, 37);

}

footer a{
    text-decoration: none;
}

.team-card {
  background: white;
  border: 1px solid rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  height: 100%;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

.team-img-frame {
  width: 80px;
  height: 80px;
  border: 3px solid #0d6efd;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating {
  font-size: 1.2rem;
  letter-spacing: 2px;
}


.team-img-frame img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  object-position: center; 
  border-radius: 15px;    
